<div class="dice-roll">
    {{#if flavor}}
        <div class="dice-flavor">{{flavor}}</div>
    {{/if}}
    <div class="infos">
        <div class="competence">
            <span class="titre">Compétence: </span><span class="value">{{competence.titre}}</span>
        </div>
        <div class="caracteristique">
            <span class="titre">Caractéristique: </span><span class="value">{{caracteristique}}</span>
        </div>
    </div>
    <div class="dice-result">
        <div class="dice-formula">
            <span class="titre">Nombre de Dés:</span> <span class="value">{{competence.valeur}}</span>
        </div>
        {{{tooltip}}}
        <h4 class="dice-total {{exitNihiloResult.extraCss}}">{{exitNihiloResult.label}}</h4>
    </div>
</div>
