<div class="dice-roll">
    {{#if flavor}}
        <div class="dice-flavor">{{flavor}}</div>
    {{/if}}
    <div>
        <span>Compétence: </span><span>Bricolage</span>
    </div>
    <div class="dice-result">
        <div class="dice-formula">{{formula}}</div>
        {{{tooltip}}}
        <h4 class="dice-total {{exitNihiloResult.extraCss}}">{{exitNihiloResult.label}}</h4>
    </div>
</div>
