<form autocomplete="off" spellcheck="off">
    <input type="hidden" id="valeurCompetence" name="valeurCompetence" value="{{valeurCompetence}}">
    <div class="roll-dialog-options form-group">
        <div class="caracteristiques">
            <div class="caracteristique">
                <input type="radio" id="puissance" name="caracteristique" value="puissance" checked>
                <label for="puissance">
                    <div class="header">
                        {{> "systems/exit-nihilo/templates/partials/pentagon-composant.hbs"
                        imgSrc = "systems/exit-nihilo/assets/icons/caracteristiques/puissance.svg"
                        title = "EXITNIHILO.SideBar.Caracteristiques.Title"
                        alt = "EXITNIHILO.SideBar.Caracteristiques.Alt"
                        extraCss= "up small" }}
                        <p class="titre">{{localize "EXITNIHILO.SideBar.Caracteristiques.PuissanceTitle"}}: </p>
                    </div>
                    <p class="valeur">{{actor.system.attributs.caracteristiquesCalculees.puissance}}</p>
                </label>
            </div>
            <div class="caracteristique">
                <input type="radio" id="vitalite" name="caracteristique" value="vitalite">
                <label for="vitalite">
                    <div class="header">
                        {{> "systems/exit-nihilo/templates/partials/pentagon-composant.hbs"
                        imgSrc = "systems/exit-nihilo/assets/icons/caracteristiques/vitalite.svg"
                        title = "EXITNIHILO.SideBar.Caracteristiques.Title"
                        alt = "EXITNIHILO.SideBar.Caracteristiques.Alt"
                        extraCss= "up small" }}
                        <p class="titre">{{localize "EXITNIHILO.SideBar.Caracteristiques.VitaliteTitle"}}: </p>
                    </div>
                    <p class="valeur">{{actor.system.attributs.caracteristiquesCalculees.vitalite}}</p>
                </label>
            </div>
            <div class="caracteristique">
                <input type="radio" id="dexterite" name="caracteristique" value="dexterite">
                <label for="dexterite">
                    <div class="header">
                        {{> "systems/exit-nihilo/templates/partials/pentagon-composant.hbs"
                        imgSrc = "systems/exit-nihilo/assets/icons/caracteristiques/dexterite.svg"
                        title = "EXITNIHILO.SideBar.Caracteristiques.Title"
                        alt = "EXITNIHILO.SideBar.Caracteristiques.Alt"
                        extraCss= "up small" }}
                        <p class="titre">{{localize "EXITNIHILO.SideBar.Caracteristiques.DexteriteTitle"}}: </p>
                    </div>
                    <p class="valeur">{{actor.system.attributs.caracteristiquesCalculees.dexterite}}</p>
                </label>
            </div>
            <div class="caracteristique">
                <input type="radio" id="agilite" name="caracteristique" value="agilite">
                <label for="agilite">
                    <div class="header">
                        {{> "systems/exit-nihilo/templates/partials/pentagon-composant.hbs"
                        imgSrc = "systems/exit-nihilo/assets/icons/caracteristiques/agilite.svg"
                        title = "EXITNIHILO.SideBar.Caracteristiques.Title"
                        alt = "EXITNIHILO.SideBar.Caracteristiques.Alt"
                        extraCss= "up small" }}
                        <p class="titre">{{localize "EXITNIHILO.SideBar.Caracteristiques.AgiliteTitle"}}: </p>
                    </div>
                    <p class="valeur">{{actor.system.attributs.caracteristiquesCalculees.agilite}}</p>
                </label>
            </div>
            <div class="caracteristique">
                <input type="radio" id="raisonnement" name="caracteristique" value="raisonnement">
                <label for="raisonnement">
                    <div class="header">
                        {{> "systems/exit-nihilo/templates/partials/pentagon-composant.hbs"
                        imgSrc = "systems/exit-nihilo/assets/icons/caracteristiques/raisonnement.svg"
                        title = "EXITNIHILO.SideBar.Caracteristiques.Title"
                        alt = "EXITNIHILO.SideBar.Caracteristiques.Alt"
                        extraCss= "up small" }}
                        <p class="titre">{{localize "EXITNIHILO.SideBar.Caracteristiques.RaisonnementTitle"}}: </p>
                    </div>
                    <p class="valeur">{{actor.system.attributs.caracteristiquesCalculees.raisonnement}}</p>
                </label>
            </div>
            <div class="caracteristique">
                <input type="radio" id="apprentissage" name="caracteristique" value="apprentissage">
                <label for="apprentissage">
                    <div class="header">
                        {{> "systems/exit-nihilo/templates/partials/pentagon-composant.hbs"
                        imgSrc = "systems/exit-nihilo/assets/icons/caracteristiques/apprentissage.svg"
                        title = "EXITNIHILO.SideBar.Caracteristiques.Title"
                        alt = "EXITNIHILO.SideBar.Caracteristiques.Alt"
                        extraCss= "up small" }}
                        <p class="titre">{{localize "EXITNIHILO.SideBar.Caracteristiques.ApprentissageTitle"}}: </p>
                    </div>
                    <p class="valeur">{{actor.system.attributs.caracteristiquesCalculees.apprentissage}}</p>
                </label>
            </div>
            <div class="caracteristique">
                <input type="radio" id="volonte" name="caracteristique" value="volonte">
                <label for="volonte">
                    <div class="header">
                        {{> "systems/exit-nihilo/templates/partials/pentagon-composant.hbs"
                        imgSrc = "systems/exit-nihilo/assets/icons/caracteristiques/volonte.svg"
                        title = "EXITNIHILO.SideBar.Caracteristiques.Title"
                        alt = "EXITNIHILO.SideBar.Caracteristiques.Alt"
                        extraCss= "up small" }}
                        <p class="titre">{{localize "EXITNIHILO.SideBar.Caracteristiques.VolonteTitle"}}: </p>
                    </div>
                    <p class="valeur">{{actor.system.attributs.caracteristiquesCalculees.volonte}}</p>
                </label>
            </div>
            <div class="caracteristique">
                <input type="radio" id="intuition" name="caracteristique" value="intuition">
                <label for="intuition">
                    <div class="header">
                        {{> "systems/exit-nihilo/templates/partials/pentagon-composant.hbs"
                        imgSrc = "systems/exit-nihilo/assets/icons/caracteristiques/intuition.svg"
                        title = "EXITNIHILO.SideBar.Caracteristiques.Title"
                        alt = "EXITNIHILO.SideBar.Caracteristiques.Alt"
                        extraCss= "up small" }}
                        <p class="titre">{{localize "EXITNIHILO.SideBar.Caracteristiques.IntuitionTitle"}}: </p>
                    </div>
                    <p class="valeur">{{actor.system.attributs.caracteristiquesCalculees.intuition}}</p>
                </label>
            </div>
            <div class="caracteristique">
                <input type="radio" id="communication" name="caracteristique" value="communication">
                <label for="communication">
                    <div class="header">
                        {{> "systems/exit-nihilo/templates/partials/pentagon-composant.hbs"
                        imgSrc = "systems/exit-nihilo/assets/icons/caracteristiques/communication.svg"
                        title = "EXITNIHILO.SideBar.Caracteristiques.Title"
                        alt = "EXITNIHILO.SideBar.Caracteristiques.Alt"
                        extraCss= "up small" }}
                        <p class="titre">{{localize "EXITNIHILO.SideBar.Caracteristiques.CommunicationTitle"}}: </p>
                    </div>
                    <p class="valeur">{{actor.system.attributs.caracteristiquesCalculees.communication}}</p>
                </label>
            </div>
            <div class="caracteristique">
                <input type="radio" id="empathie" name="caracteristique" value="empathie">
                <label for="empathie">
                    <div class="header">
                        {{> "systems/exit-nihilo/templates/partials/pentagon-composant.hbs"
                        imgSrc = "systems/exit-nihilo/assets/icons/caracteristiques/empathie.svg"
                        title = "EXITNIHILO.SideBar.Caracteristiques.Title"
                        alt = "EXITNIHILO.SideBar.Caracteristiques.Alt"
                        extraCss= "up small" }}
                        <p class="titre">{{localize "EXITNIHILO.SideBar.Caracteristiques.EmpathieTitle"}}: </p>
                    </div>
                    <p class="valeur">{{actor.system.attributs.caracteristiquesCalculees.empathie}}</p>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "EXITNIHILO.Dialogue.LancerDeDes.ModeDeLancer"}}</label>
        <select name="rollMode">
            {{#select rollMode}}
            {{#each rollModes as |label mode|}}
            {{log "Label" label}}
            <option value="{{mode}}">{{localize label}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
</form>