<form autocomplete="off" spellcheck="off">
    <input type="hidden" id="valeurCompetence" name="valeurCompetence" value="{{valeurCompetence}}">
    <input type="hidden" id="titreCompetence" name="titreCompetence" value="{{titreCompetence}}">
    <h1>{{titreCompetence}}</h1>
    <div class="roll-dialog-options form-group">
        <div class="caracteristiques">
            <div class="caracteristique">
                <input type="radio" id="puissance" name="caracteristique" value="puissance" checked>
                <label for="puissance">
                    <div class="header">
                        {{> "systems/exit-nihilo/templates/partials/pentagon-composant.hbs"
                            imgSrc = "systems/exit-nihilo/assets/icons/caracteristiques/puissance.svg"
                            title = "EXITNIHILO.SideBar.Caracteristiques.Title"
                            alt = "EXITNIHILO.SideBar.Caracteristiques.Alt"
                            extraCss= "up small" }}
                        <p class="titre">{{localize "EXITNIHILO.SideBar.Caracteristiques.PuissanceTitle"}}: </p>
                    </div>
                    <p class="valeur">{{actor.system.attributs.caracteristiquesCalculees.puissance}}</p>
                </label>
            </div>
            <div class="caracteristique">
                <input type="radio" id="vitalite" name="caracteristique" value="vitalite">
                <label for="vitalite">
                    <div class="header">
                        {{> "systems/exit-nihilo/templates/partials/pentagon-composant.hbs"
                            imgSrc = "systems/exit-nihilo/assets/icons/caracteristiques/vitalite.svg"
                            title = "EXITNIHILO.SideBar.Caracteristiques.Title"
                            alt = "EXITNIHILO.SideBar.Caracteristiques.Alt"
                            extraCss= "up small" }}
                        <p class="titre">{{localize "EXITNIHILO.SideBar.Caracteristiques.VitaliteTitle"}}: </p>
                    </div>
                    <p class="valeur">{{actor.system.attributs.caracteristiquesCalculees.vitalite}}</p>
                </label>
            </div>
            <div class="caracteristique">
                <input type="radio" id="adresse" name="caracteristique" value="adresse">
                <label for="adresse">
                    <div class="header">
                        {{> "systems/exit-nihilo/templates/partials/pentagon-composant.hbs"
                            imgSrc = "systems/exit-nihilo/assets/icons/caracteristiques/adresse.svg"
                            title = "EXITNIHILO.SideBar.Caracteristiques.Title"
                            alt = "EXITNIHILO.SideBar.Caracteristiques.Alt"
                            extraCss= "up small" }}
                        <p class="titre">{{localize "EXITNIHILO.SideBar.Caracteristiques.AdresseTitle"}}: </p>
                    </div>
                    <p class="valeur">{{actor.system.attributs.caracteristiquesCalculees.adresse}}</p>
                </label>
            </div>
            <div class="caracteristique">
                <input type="radio" id="coordination" name="caracteristique" value="coordination">
                <label for="coordination">
                    <div class="header">
                        {{> "systems/exit-nihilo/templates/partials/pentagon-composant.hbs"
                            imgSrc = "systems/exit-nihilo/assets/icons/caracteristiques/coordination.svg"
                            title = "EXITNIHILO.SideBar.Caracteristiques.Title"
                            alt = "EXITNIHILO.SideBar.Caracteristiques.Alt"
                            extraCss= "up small" }}
                        <p class="titre">{{localize "EXITNIHILO.SideBar.Caracteristiques.CoordinationTitle"}}: </p>
                    </div>
                    <p class="valeur">{{actor.system.attributs.caracteristiquesCalculees.coordination}}</p>
                </label>
            </div>
            <div class="caracteristique">
                <input type="radio" id="raisonnement" name="caracteristique" value="raisonnement">
                <label for="raisonnement">
                    <div class="header">
                        {{> "systems/exit-nihilo/templates/partials/pentagon-composant.hbs"
                            imgSrc = "systems/exit-nihilo/assets/icons/caracteristiques/raisonnement.svg"
                            title = "EXITNIHILO.SideBar.Caracteristiques.Title"
                            alt = "EXITNIHILO.SideBar.Caracteristiques.Alt"
                            extraCss= "up small" }}
                        <p class="titre">{{localize "EXITNIHILO.SideBar.Caracteristiques.RaisonnementTitle"}}: </p>
                    </div>
                    <p class="valeur">{{actor.system.attributs.caracteristiquesCalculees.raisonnement}}</p>
                </label>
            </div>
            <div class="caracteristique">
                <input type="radio" id="apprentissage" name="caracteristique" value="apprentissage">
                <label for="apprentissage">
                    <div class="header">
                        {{> "systems/exit-nihilo/templates/partials/pentagon-composant.hbs"
                            imgSrc = "systems/exit-nihilo/assets/icons/caracteristiques/apprentissage.svg"
                            title = "EXITNIHILO.SideBar.Caracteristiques.Title"
                            alt = "EXITNIHILO.SideBar.Caracteristiques.Alt"
                            extraCss= "up small" }}
                        <p class="titre">{{localize "EXITNIHILO.SideBar.Caracteristiques.ApprentissageTitle"}}: </p>
                    </div>
                    <p class="valeur">{{actor.system.attributs.caracteristiquesCalculees.apprentissage}}</p>
                </label>
            </div>
            <div class="caracteristique">
                <input type="radio" id="volonte" name="caracteristique" value="volonte">
                <label for="volonte">
                    <div class="header">
                        {{> "systems/exit-nihilo/templates/partials/pentagon-composant.hbs"
                            imgSrc = "systems/exit-nihilo/assets/icons/caracteristiques/volonte.svg"
                            title = "EXITNIHILO.SideBar.Caracteristiques.Title"
                            alt = "EXITNIHILO.SideBar.Caracteristiques.Alt"
                            extraCss= "up small" }}
                        <p class="titre">{{localize "EXITNIHILO.SideBar.Caracteristiques.VolonteTitle"}}: </p>
                    </div>
                    <p class="valeur">{{actor.system.attributs.caracteristiquesCalculees.volonte}}</p>
                </label>
            </div>
            <div class="caracteristique">
                <input type="radio" id="conscience" name="caracteristique" value="conscience">
                <label for="conscience">
                    <div class="header">
                        {{> "systems/exit-nihilo/templates/partials/pentagon-composant.hbs"
                            imgSrc = "systems/exit-nihilo/assets/icons/caracteristiques/conscience.svg"
                            title = "EXITNIHILO.SideBar.Caracteristiques.Title"
                            alt = "EXITNIHILO.SideBar.Caracteristiques.Alt"
                            extraCss= "up small" }}
                        <p class="titre">{{localize "EXITNIHILO.SideBar.Caracteristiques.ConscienceTitle"}}: </p>
                    </div>
                    <p class="valeur">{{actor.system.attributs.caracteristiquesCalculees.conscience}}</p>
                </label>
            </div>
            <div class="caracteristique">
                <input type="radio" id="communication" name="caracteristique" value="communication">
                <label for="communication">
                    <div class="header">
                        {{> "systems/exit-nihilo/templates/partials/pentagon-composant.hbs"
                            imgSrc = "systems/exit-nihilo/assets/icons/caracteristiques/communication.svg"
                            title = "EXITNIHILO.SideBar.Caracteristiques.Title"
                            alt = "EXITNIHILO.SideBar.Caracteristiques.Alt"
                            extraCss= "up small" }}
                        <p class="titre">{{localize "EXITNIHILO.SideBar.Caracteristiques.CommunicationTitle"}}: </p>
                    </div>
                    <p class="valeur">{{actor.system.attributs.caracteristiquesCalculees.communication}}</p>
                </label>
            </div>
            <div class="caracteristique">
                <input type="radio" id="empathie" name="caracteristique" value="empathie">
                <label for="empathie">
                    <div class="header">
                        {{> "systems/exit-nihilo/templates/partials/pentagon-composant.hbs"
                            imgSrc = "systems/exit-nihilo/assets/icons/caracteristiques/empathie.svg"
                            title = "EXITNIHILO.SideBar.Caracteristiques.Title"
                            alt = "EXITNIHILO.SideBar.Caracteristiques.Alt"
                            extraCss= "up small" }}
                        <p class="titre">{{localize "EXITNIHILO.SideBar.Caracteristiques.EmpathieTitle"}}: </p>
                    </div>
                    <p class="valeur">{{actor.system.attributs.caracteristiquesCalculees.empathie}}</p>
                </label>
            </div>
        </div>
        <div class="modificateurs container">
            <div class="bonus-malus container">
                <label for="bonus-malus">Modificateur</label>
                <input class="bonus-malus" id="bonus-malus" name="bonus-malus" type="number" value="0" />
            </div>
            <div class="roll-visibility container">
                <label>{{localize "EXITNIHILO.Dialogue.LancerDeDes.ModeDeLancer"}}</label>
                <select name="rollMode">
                    {{#select rollMode}}
                        {{#each rollModes as |label mode|}}
                            {{log "Label" label}}
                            <option value="{{mode}}">{{localize label}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>
</form>
