<form class="{{cssClass}} en-style" autocomplete="off">
    <aside>
        <header>
            <img class="logo" src="systems/exit-nihilo/assets/exit-nihilo_logo.webp" height="56" alt="" srcset="" />
            <button type="button" class="verouille-deverouille-bouton hover"
                title="{{localize 'EXITNIHILO.Feuille-De)Personnage.Verrouille'}}">
                {{#if actor.system.configuration.verrou}}
                <i class="fa-solid fa-lock"></i>
                {{else}}
                <i class="fa-solid fa-lock-open"></i>
                {{/if}}
            </button>
        </header>
        <div class="sidebar" data-group="dashboard" data-tab="sidebar">
            <!-- SANTÉ -->
            {{> "systems/exit-nihilo/templates/actors/character/sidebar/sante.hbs"}}
            <!-- JAUGES -->
            {{> "systems/exit-nihilo/templates/actors/character/sidebar/jauges.hbs"}}
            <!-- CARACTERISTIQUES -->
            {{> "systems/exit-nihilo/templates/actors/character/sidebar/caracteristiques.hbs"}}
        </div>
    </aside>

    <!-- HEADER -->
    {{> "systems/exit-nihilo/templates/actors/character/partials/header.hbs"}}

    <!-- SHEET NAVIGATION -->
    <nav class="sheet-navigation" data-group="primary">
        <span class="navigation-title">{{localize "EXITNIHILO.NavBar.Tabs.GeneralLabel"}}</span>
        <a class="item" data-tab="general" title="{{localize 'EXITNIHILO.NavBar.Tabs.GeneralLabel'}}">
            <i class="fa-solid fa-memo-circle-info"></i>
        </a>
        <a class="item" data-tab="competences" title="{{localize 'EXITNIHILO.NavBar.Tabs.CompetencesLabel'}}">
            <i class="fa-solid fa-hands"></i>
        </a>
        <a class="item" data-tab="combat" title="{{localize 'EXITNIHILO.NavBar.Tabs.CombatLabel'}}">
            <i class="fa-solid fa-gun"></i>
        </a>
        <a class="item" data-tab="equipement" title="{{localize 'EXITNIHILO.NavBar.Tabs.EquipementLabel'}}">
            <i class="fa-solid fa-backpack"></i>
        </a>

        <a class="item" data-tab="historique" title="{{localize 'EXITNIHILO.NavBar.Tabs.HistoriqueLabel'}}">
            <i class="fa-duotone fa-rectangle-history"></i>
        </a>
    </nav>

    <!-- BODY -->
    <section class="sheet-body">
        <section class="sheet-content">
            <!-- GENERAL -->
            {{> "systems/exit-nihilo/templates/actors/character/tabs/general.hbs"}}
            <!-- COMPETENCES -->
            {{> "systems/exit-nihilo/templates/actors/character/tabs/competences.hbs"}}
            <!-- COMBAT -->
            {{> "systems/exit-nihilo/templates/actors/character/tabs/combat.hbs"}}
            <!-- EQUIPEMENT -->
            {{> "systems/exit-nihilo/templates/actors/character/tabs/equipement.hbs"}}
            <!-- HISTORIQUE -->
            {{> "systems/exit-nihilo/templates/actors/character/tabs/historique.hbs"}}
        </section>
    </section>
</form>