<form class="{{cssClass}}" autocomplete="off">

    <!-- ITEM SHEET HEADER -->
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" />
        <div class="details">
            <input name="name" type="text" value="{{item.name}}" placeholder="{{localize "EXITNIHILO.ItemNamePlaceholder"}}" spellcheck="false" />
        </div>
    </header>

    <nav class="sheet-navigation">

        <h4 class="sheet-tabs tabs" data-tab-container="primary">
            {{#if detailsActive}}
                <a class="list-row" data-tab="description">{{localize "EXITNIHILO.ItemDescription"}}</a>
                <a class="list-row" data-tab="details">{{localize "EXITNIHILO.ItemDetails"}}</a>
            {{else}}
                <a class="list-row" data-tab="description">{{localize "EXITNIHILO.ItemDescription"}}</a>
                {{#if hasDetails}}
                    <a class="list-row" data-tab="details">{{localize "EXITNIHILO.ItemDetails"}}</a>
                {{/if}}
            {{/if}}
            {{#developMode}}
                {{#if isPhysical}}
                    <a class="list-row" data-tab="activations">{{localize "EXITNIHILO.Item.Activation.Label"}}</a>
                {{/if}}
            {{/developMode}}
            {{#if (and isPhysical user.isGM)}}
                <a class="list-row" data-tab="mystification">{{localize "EXITNIHILO.ItemMystification"}}</a>
            {{/if}}
            {{#if (and enabledRulesUI (not isVariant))}}
                <a class="list-row" data-tab="rules">{{localize "EXITNIHILO.ItemRules"}}</a>
            {{/if}}
        </h4>
    </nav>

    <!-- ITEM SHEET CONTENT -->
    <article class="sheet-content">
        <!-- ITEM SHEET BODY -->
        <section class="sheet-body">
            <!-- Item Description -->
            <div class="tab item-description" data-tab="description">
                    {{editor enrichedContent.description target="system.description.value" button=true owner=owner editable=editable}}
            </div>

            <!-- Item Details -->
                <div class="tab item-details" data-tab="details">
                    <div class="form-group">
                        <label>{{localize "EXITNIHILO.Source.Label"}}</label>
                        <input type="text" name="system.source.value" value="{{data.source.value}}" />
                    </div>
                </div>
        </section>
    </article>
</form>
