<div class="{{id}}-container">
    <div class="competence {{id}}" data-competence-id="{{id}}" data-competence-label="{{label}}">
        <div class="titre">{{localize label}}</div>
        <div class="valeur{{#isLocked}}{{/isLocked}}">{{#skill-dots valeurCourante 5}}{{/skill-dots}}
        </div>
    </div>
</div>
