{{log "NPC" this.acto}}
<form class="npc-sheet" autocomplete="off">
    <div class="name flexrow bottom-separator">
        <input class="name-value" name="name" type="text" value="{{actor.name}}" placeholder="{{localize "EXITNIHILO.CharacterNamePlaceholder"}}" spellcheck="false" />
        <label class="level-label">{{localize "EXITNIHILO.NPC.Creature"}}</label>
    </div>
    <div class="npc-body">
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="main">{{localize "EXITNIHILO.NPC.MainTab"}}</a>
            <a class="item" data-tab="inventory">{{localize "EXITNIHILO.NPC.InventoryTab"}}</a>
            <a class="item" data-tab="spells">{{localize "EXITNIHILO.NPC.SpellsTab"}}</a>
            <a class="item" data-tab="effects">{{localize "EXITNIHILO.NPC.EffectsTab"}}</a>
            <a class="item" data-tab="notes">{{localize "EXITNIHILO.NPC.NotesTab"}}</a>
        </nav>
        <section class="sheet-body">
            {{> "systems/exit-nihilo/templates/actors/npc/tabs/main.hbs"}}
            {{> "systems/exit-nihilo/templates/actors/npc/tabs/inventory.hbs"}}
            {{> "systems/exit-nihilo/templates/actors/npc/tabs/spells.hbs"}}
            {{> "systems/exit-nihilo/templates/actors/npc/tabs/effects.hbs"}}
            {{> "systems/exit-nihilo/templates/actors/npc/tabs/notes.hbs"}}
        </section>
    </div>
</form>
