<div class="sidebar_title">
    <h2>{{localize "EXITNIHILO.SideBar.AttributsHeader"}}</h2>
</div>
<div class="attributs">
    <div class="attribut">
        <p>{{localize "EXITNIHILO.SideBar.Attributs.PhysiqueTitle"}}: </p>
        <p class="valeur">{{this.actor.system.attributs.caracteristiques.physique.value}}</p>
    </div>
    <div class="attribut">
        <p>{{localize "EXITNIHILO.SideBar.Attributs.AdresseTitle"}}: </p>
        <p class="valeur">{{this.actor.system.attributs.caracteristiques.adresse.value}}</p>
    </div>
    <div class="attribut">
        <p>{{localize "EXITNIHILO.SideBar.Attributs.IntellectTitle"}}: </p>
        <p class="valeur">{{this.actor.system.attributs.caracteristiques.intellect.value}}</p>
    </div>
    <div class="attribut">
        <p>{{localize "EXITNIHILO.SideBar.Attributs.CaractereTitle"}}: </p>
        <p class="valeur">{{this.actor.system.attributs.caracteristiques.caractere.value}}</p>
    </div>
    <div class="attribut">
        <p>{{localize "EXITNIHILO.SideBar.Attributs.SocialTitle"}}: </p>
        <p class="valeur">{{this.actor.system.attributs.caracteristiques.social.value}}</p>
    </div>
</div>