<div class="sidebar_title">
    <h2>{{localize "EXITNIHILO.SideBar.CaracteristiquesHeader"}}</h2>
</div>
<div class="caracteristiques">
    <div class="caracteristique">
        {{> "systems/exit-nihilo/templates/partials/pentagon-composant.hbs"
        imgSrc = "systems/exit-nihilo/assets/icons/caracteristiques/puissance.svg"
        title = "EXITNIHILO.SideBar.Caracteristiques.Title"
        alt = "EXITNIHILO.SideBar.Caracteristiques.Alt"
        extraCss= "up small" }}
        <p class="titre">{{localize "EXITNIHILO.SideBar.Caracteristiques.PuissanceTitle"}}: </p>
        <p class="valeur">{{this.actor.system.attributs.caracteristiquesCalculees.puissance}}</p>
    </div>
    <div class="caracteristique">
        {{> "systems/exit-nihilo/templates/partials/pentagon-composant.hbs"
        imgSrc = "systems/exit-nihilo/assets/icons/caracteristiques/vitalite.svg"
        title = "EXITNIHILO.SideBar.Caracteristiques.Title"
        alt = "EXITNIHILO.SideBar.Caracteristiques.Alt"
        extraCss= "up small" }}
        <p class="titre">{{localize "EXITNIHILO.SideBar.Caracteristiques.VitaliteTitle"}}: </p>
        <p class="valeur">{{this.actor.system.attributs.caracteristiquesCalculees.vitalite}}</p>
    </div>
    <div class="caracteristique">
        {{> "systems/exit-nihilo/templates/partials/pentagon-composant.hbs"
        imgSrc = "systems/exit-nihilo/assets/icons/caracteristiques/adresse.svg"
        title = "EXITNIHILO.SideBar.Caracteristiques.Title"
        alt = "EXITNIHILO.SideBar.Caracteristiques.Alt"
        extraCss= "up small" }}
        <p class="titre">{{localize "EXITNIHILO.SideBar.Caracteristiques.AdresseTitle"}}: </p>
        <p class="valeur">{{this.actor.system.attributs.caracteristiquesCalculees.adresse}}</p>
    </div>
    <div class="caracteristique">
        {{> "systems/exit-nihilo/templates/partials/pentagon-composant.hbs"
        imgSrc = "systems/exit-nihilo/assets/icons/caracteristiques/coordination.svg"
        title = "EXITNIHILO.SideBar.Caracteristiques.Title"
        alt = "EXITNIHILO.SideBar.Caracteristiques.Alt"
        extraCss= "up small" }}
        <p class="titre">{{localize "EXITNIHILO.SideBar.Caracteristiques.CoordinationTitle"}}: </p>
        <p class="valeur">{{this.actor.system.attributs.caracteristiquesCalculees.coordination}}</p>
    </div>
    <div class="caracteristique">
        {{> "systems/exit-nihilo/templates/partials/pentagon-composant.hbs"
        imgSrc = "systems/exit-nihilo/assets/icons/caracteristiques/raisonnement.svg"
        title = "EXITNIHILO.SideBar.Caracteristiques.Title"
        alt = "EXITNIHILO.SideBar.Caracteristiques.Alt"
        extraCss= "up small" }}
        <p class="titre">{{localize "EXITNIHILO.SideBar.Caracteristiques.RaisonnementTitle"}}: </p>
        <p class="valeur">{{this.actor.system.attributs.caracteristiquesCalculees.raisonnement}}</p>
    </div>
    <div class="caracteristique">
        {{> "systems/exit-nihilo/templates/partials/pentagon-composant.hbs"
        imgSrc = "systems/exit-nihilo/assets/icons/caracteristiques/apprentissage.svg"
        title = "EXITNIHILO.SideBar.Caracteristiques.Title"
        alt = "EXITNIHILO.SideBar.Caracteristiques.Alt"
        extraCss= "up small" }}
        <p class="titre">{{localize "EXITNIHILO.SideBar.Caracteristiques.ApprentissageTitle"}}: </p>
        <p class="valeur">{{this.actor.system.attributs.caracteristiquesCalculees.apprentissage}}</p>
    </div>
    <div class="caracteristique">
        {{> "systems/exit-nihilo/templates/partials/pentagon-composant.hbs"
        imgSrc = "systems/exit-nihilo/assets/icons/caracteristiques/volonte.svg"
        title = "EXITNIHILO.SideBar.Caracteristiques.Title"
        alt = "EXITNIHILO.SideBar.Caracteristiques.Alt"
        extraCss= "up small" }}
        <p class="titre">{{localize "EXITNIHILO.SideBar.Caracteristiques.VolonteTitle"}}: </p>
        <p class="valeur">{{this.actor.system.attributs.caracteristiquesCalculees.volonte}}</p>
    </div>
    <div class="caracteristique">
        {{> "systems/exit-nihilo/templates/partials/pentagon-composant.hbs"
        imgSrc = "systems/exit-nihilo/assets/icons/caracteristiques/conscience.svg"
        title = "EXITNIHILO.SideBar.Caracteristiques.Title"
        alt = "EXITNIHILO.SideBar.Caracteristiques.Alt"
        extraCss= "up small" }}
        <p class="titre">{{localize "EXITNIHILO.SideBar.Caracteristiques.ConscienceTitle"}}: </p>
        <p class="valeur">{{this.actor.system.attributs.caracteristiquesCalculees.conscience}}</p>
    </div>
    <div class="caracteristique">
        {{> "systems/exit-nihilo/templates/partials/pentagon-composant.hbs"
        imgSrc = "systems/exit-nihilo/assets/icons/caracteristiques/communication.svg"
        title = "EXITNIHILO.SideBar.Caracteristiques.Title"
        alt = "EXITNIHILO.SideBar.Caracteristiques.Alt"
        extraCss= "up small" }}
        <p class="titre">{{localize "EXITNIHILO.SideBar.Caracteristiques.CommunicationTitle"}}: </p>
        <p class="valeur">{{this.actor.system.attributs.caracteristiquesCalculees.communication}}</p>
    </div>
    <div class="caracteristique">
        {{> "systems/exit-nihilo/templates/partials/pentagon-composant.hbs"
        imgSrc = "systems/exit-nihilo/assets/icons/caracteristiques/empathie.svg"
        title = "EXITNIHILO.SideBar.Caracteristiques.Title"
        alt = "EXITNIHILO.SideBar.Caracteristiques.Alt"
        extraCss= "up small" }}
        <p class="titre">{{localize "EXITNIHILO.SideBar.Caracteristiques.EmpathieTitle"}}: </p>
        <p class="valeur">{{this.actor.system.attributs.caracteristiquesCalculees.empathie}}</p>
    </div>
</div>
