<div class="sidebar_title">
    <h2>{{localize "EXITNIHILO.SideBar.JaugesHeader"}}</h2>
</div>
<div class="jauges">

    <div class="jauge">
        {{> "systems/exit-nihilo/templates/partials/pentagon-composant.hbs"
        imgSrc = "systems/exit-nihilo/assets/icons/jauges/humanite.svg"
        title = "EXITNIHILO.SideBar.Jauges.Title"
        alt = "EXITNIHILO.SideBar.Jauges.Alt"
        extraCss= "up small" }}
        <label class="titre" for="humanite">{{localize "EXITNIHILO.SideBar.Jauges.HumaniteTitle"}}</label>
        <input type="number" class="humanite-input" title="{{localize 'EXITNIHILO.SideBar.Jauges.HumaniteTitle'}}" id="hunanite" name="system.attributs.humanite.value" data-dtype="Number" value="{{data.attributs.humanite.value}}" />
        <span>/</span>
        <input type="number" class="humanite-input" title="{{localize 'EXITNIHILO.SideBar.Jauges.HumaniteTitle'}}" id="hunanite-max" name="system.attributs.humanite.max" data-dtype="Number" value="{{data.attributs.humanite.max}}" />
    </div>
    <div class="jauge">
        {{> "systems/exit-nihilo/templates/partials/pentagon-composant.hbs"
        imgSrc = "systems/exit-nihilo/assets/icons/jauges/resilience.svg"
        title = "EXITNIHILO.SideBar.Jauges.Title"
        alt = "EXITNIHILO.SideBar.Jauges.Alt"
        extraCss= "up small" }}
        <label class="titre" for="resilience">{{localize "EXITNIHILO.SideBar.Jauges.HumaniteTitle"}}</label>
        <input type="number" class="resilience-input" title="{{localize 'EXITNIHILO.SideBar.Jauges.HumaniteTitle'}}" id="hunanite" name="system.attributs.resilience.value" data-dtype="Number" value="{{data.attributs.resilience.value}}" />
        <span>/</span>
        <input type="number" class="resilience-input" title="{{localize 'EXITNIHILO.SideBar.Jauges.HumaniteTitle'}}" id="hunanite-max" name="system.attributs.resilience.max" data-dtype="Number" value="{{data.attributs.resilience.max}}" />
    </div>
</div>